.left_container {
    border: 1px solid black;
    padding: 2px;
    float:left;
    justify-content: center;
    align-items: center;
    margin-left: 275px;
}

.right_container {
    border: 1px solid black;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 50px;
    float:right;
    justify-content: center;
    align-items: center;
}

.userprofile {
    display: flex;
}
.profile {
    justify-content: center;
}
